<h1>My orders</h1>
<%= @order.order_item.meal.name %>
<%= @order.total_price %>
<%= @order.status %>

<%= simple_form_for [@meal, OrderItem.new] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit "Add to cart" %>
<% end %>