<div class="layout-background">

<div class="d-flex align-items-end">

</div>


<div class="mb-2">


                                  <div>
                                    <%= form_tag root_path, method: :get do %>
                                      <%= text_field_tag :query,
                                        params[:query],
                                        class: "form-control",
                                        placeholder: "Find a name"
                                      %>
                                      <%= submit_tag "Search", class: "btn btn-secondary" %>
                                    <% end %>
                                  </div>
<!-- the list of movies -->
  <div class="text-center" >
    <div class="banner" style="">
      <div class="banner-content container">
        <form action="/" method="get" class="form-inline justify-content-center mb-5 mt-0">
        <!-- <i class="fas fa-search active" aria-hidden="true"></i> -->
          <input id="autocomplete" class="form-control form-control-sm ml-3 w-75" 
           type="text" placeholder="Search" name="search" aria-label="Search">
          <input class="search" type="submit" value="Check the food you wish">
        </form>
    </div>
  </div>

  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
   <!-- <div class="search-form-control form-group"> -->
      <!-- <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Discover restricted food nearby" /> -->
    <div class="card-categories">

      <button name="vegan" type="submit" class="btn btn-flat btn-pic">
        <%= link_to "Vegan", root_path(restriction: "vegan") %>
      </button>
      <button name="celiac" type="submit" class="btn btn-flat">
        <%= link_to "Celiac", root_path(restriction: "celiac") %>
      </button>
      <button name="diabetic" type="submit" class="btn btn-flat">
        <%= link_to "Diabetic", root_path(restriction: "diabetic") %>
      </button>

    </div>

  </form>

  <div class="form-inline">
  <%= form_tag search_path, method: :get do %>

    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a name"
    %>
    <%= submit_tag "Search", class: "btn btn-secondary" %>
  
  <% end %>

</div>
<!-- the list of movies -->
  




<!-- A grid for the cards-meals # ANDRE INPUTS:
# filter by name on controller
# hidden tag in view, to store restriction
# controller action works with both of the filter-->

  <div class="cards-meals">
    <% @meals.each do |meal|%>
      <%= link_to meal_path(meal) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path meal.photo.key %>')">
          <h6> <b><%="#{meal.user.name}: "%></b> <%="#{meal.name} at #{meal.offer_price}$"%> </h6>
        </div>
      <% end %>
    <% end %>

  </div>

</div>


