<%# <div class="layout-background"> %>




<div class="container">

  <div class="text-center mt-3">
    <h1 class="h5 pb-3"> Olá! Qual é a sua restrição? </h1>
  </div>


  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
   <!-- <div class="search-form-control form-group"> -->
      <!-- <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Discover restricted food nearby" /> -->
    <div class="card-categories">
<!--
      <div class="form-inline">
      <%= form_tag search_path, method: :get do %>

        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a name"
        %>
        <%= submit_tag "Search", class: "btn btn-secondary" %>

      <% end %>
      </div>
-->
      <div class="btn veg-pic image-center">
        <%= link_to search_path(restriction: "vegan"), class: "btn-label" do %>
        <% end %>
        <p> Vegan </p>
        <!-- <button name="vegan" type="submit"> Vegan > </button> -->
      </div>

      <div class="btn cel-pic image-center">
        <%= link_to search_path(restriction: "celiac"), class: "btn-label" do %>
        <% end %>
        <p> Celíaca </p>
        <!-- <button name="vegan" type="submit"> Vegan > </button> -->
      </div>

      <div class="btn dia-pic image-center">
        <%= link_to search_path(restriction: "diabetic"), class: "btn-label" do %>
        <% end %>
        <p> Diabetes </p>
        <!-- <button name="vegan" type="submit"> Vegan > </button> -->
      </div>

    </div>

  </form>


<%# </div> %>
<!-- the list of movies -->





<!-- A grid for the cards-meals # :
# filter by name on controller
# hidden tag in view, to store restriction
# controller action works with both of the filter-->

<!--
 <div class="cards-meals">
    <%# @meals.each do |meal|%>
      <%#= link_to meal_path(meal) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path meal.photo.key %>')">
          <h6> <b><%#="#{meal.user.name}: "%></b> <%#="#{meal.name} at #{meal.offer_price}$"%> </h6>
        </div>
      <%# end %>
    <%# end %>

  </div>
-->
</div>
