<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <%unless user_signed_in?%> 
        <h1 class="text-center call-to-action">Browse through our wonderful selection of foods!</h1>
      <%end%>

      <div class="form-inline m-3">
        <%= form_tag search_path, method: :get do %>

          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a name"
          %>

          <%= hidden_field_tag :restriction, params[:restriction]
          
          %>

          <%= submit_tag "Search", class: "btn btn-secondary" %>

        <% end %>
      </div>

      <% @restaurants&.each do |restaurant| %>
        <div class="card btn search-button" data-restaurant-id="<%= restaurant.id %>">
          <h3> <%= link_to restaurant.name, restaurant_path(restaurant, restriction: params[:restriction]) %> </h3> 
        </div>
      <% end %>

    </div>
  </div>
  

</div>
