<div class="container">
  <div class="row justify-content-center">
     <div class="col col-lg-4">

       <div class="signup-card">
         <%= simple_form_for meal do |f| %>

            <%= f.input :name %>
            <%= f.input :offer_price %>
            <%= f.input :description %>
            <%= f.input :restriction %>
            <%= f.input :photo, as: :file, class:"btn-buzz" %>

       <div class="form-actions green-button">
         <%= f.button :submit, class: "btn btn-flat" %>
         <%= link_to "Back to meals", meals_path, class: "btn btn-outline-secondary mt-3 w-100" %>
       </div>

       <% end %>
       </div>
     </div>
   </div>
</div>

