<div class="pic-show">
  <%= cl_image_tag(@meal.photo.key) %>
</div>
<div class="card-body card-show">
  <h2> <%= @meal.name %> </h2>
  <p class="border-price"> R$ <%= @meal.offer_price %>,00 </p>
  <p> <%= @meal.description %> </p>
  <p> <%= @meal.restriction %> </p>


  <% if current_user == @meal.user  %>
    <%= link_to "edit", edit_meal_path(@meal) %>
  <% end %>

  <% if current_user != @meal.user  %>
    <%= simple_form_for [@meal, OrderItem.new] do |f| %>
      <%= f.input :quantity %>
      <div class="green-button"><%= f.submit "Add to cart" %> </div>
    <% end %>
  <% end %>

<!-- Reviews "paths check"-->
  <div>
    <%= link_to 'Edit', edit_meal_path(@meal) %> |
    <%= link_to 'Back', meals_path %> |
    <%= link_to 'Leave a review', new_meal_review_path(@meal) %>
  </div>
</div>

<!-- Reviews-enrich show-->

<ul class="list-group">
  <% @meal.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<!-- Review destroy-->

<li class="list-group-item">
      <%= review.content %>
      <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
