<h1>My meal</h1>
<%= @meal.name %>
<%= @meal.offer_price %>
<%= @meal.description %>
<%= @meal.restriction %>

<%= simple_form_for [@meal, OrderItem.new] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit "Add to cart" %>
<% end %>

