<div class="restaurant-banner text-center p-3 bg-light">
  <img class="circle mb-3" src="http://placehold.it/100x100" alt="test">
  <h1 class="h3"><%= @restaurant.name %></h1>
</div>


<div class="cards">
  <% @meals.each do |meal| %>
    <%= link_to meal, class: "card-product" do %>
      <%= cl_image_tag(meal.photo.key) %>  
      <div class="card-product-infos">
        <h2><%= meal.name %></h2>
        <p>$ <%= meal.offer_price %>,00 </p>
      </div>
    <% end %>
  <% end %>
</div>
